$header-bg-color: #585858;
$body-bg-color: red;
// $body-bg-color: #cecece;

@keyframes wiggleAnimation {
  from {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-50%);
  }
  50% {
    transform: translateX(50%);
  }
  75% {
    transform: translateX(-25%);
  }
  to {
    transform: translateX(0);
  }
}
