@import "~bootstrap/scss/bootstrap";
@import "./base.scss";

body {
  background-color: $body-bg-color;
  min-height: 100vh;
  padding: 0;
  margin: 0;

  header {
    background-color: $header-bg-color;
    color: #fff;
  }

  main {
    .users-table {
      .delete-icon,
      .edit-icon {
        // color: #dc3545;
        cursor: pointer;
        &:hover {
          animation: wiggleAnimation 0.3s cubic-bezier(0.37, 0.55, 0.59, 0.49)
            forwards;
        }
      }
    }
  }
}
